.title-modal-login {

    font-family: 'Avenir Next Rounded Pro Medium';
    letter-spacing: 0px;
    color: #AA8E73;
    opacity: 1;
    font-style: normal;
    font-size: 20px;
    margin-top: 1rem;
}
.message-modal-login {

    font-family: 'Avenir Next Rounded Pro Medium';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 15px;
    margin-top: 2rem;
}
.modal-content {

    border-radius: 8px !important;
}
.modal-lg.modal-login {
    max-width: 25rem;
}
.email-modal-login {

    font-family: 'Avenir Next Rounded Pro Medium';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 14px;
    margin-top: 0em;
}
.modal-footer {

    border-top: 0 none;
    padding-bottom: 2rem;
    align-items: center ;
    align-content: center;
}
.btn-modal-login {

    background-color: transparent;
    color: #AA8E73;
    border-radius: 5px;
    border-color: #AA8E73 ;
    font-family: 'Avenir Next Rounded Pro Medium';
    font-size: 14px;
    font-weight: 500 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 1.8em !important;
    padding-right: 1.8em !important;
}
.btn-modal-login:hover {

    background-color: #AA8E73;
    color: #ffffff;
    border-color: #ffffff;
    
}