/* Estilos título inicar sesión */
.title-sign-in {
    
    font-size: 24px;
    color: #AA8E73;
    opacity: 1;
    font-style: normal;
    /* margin-top: -3rem; */
}
.title-register {
    
    font-size: 24px;
    color: #AA8E73;
    opacity: 1;
    font-style: normal;
    margin-top: -3.5rem;
}
/* Estilos texto bienvenidos */
.text-welcome-login {

    color: #0E195A;
    opacity: 1;
    font-size: 12px;
}